[project]
	description = A simple dockerfile to provide smallest docker-compose image
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thibault Jamet (tjamet)
[access "refs/for/refs/*"]
	read = group user/Thibault Jamet (tjamet)
	push = group user/Thibault Jamet (tjamet)
	label-Code-Review = -2..+2 group user/Thibault Jamet (tjamet)
	label-Verified = -1..+1 group user/Thibault Jamet (tjamet)
	rebase = group user/Thibault Jamet (tjamet)
	removeReviewer = group user/Thibault Jamet (tjamet)
	submit = group user/Thibault Jamet (tjamet)
[access "refs/heads/*"]
	read = group user/Thibault Jamet (tjamet)
	create = group user/Thibault Jamet (tjamet)
	push = +force group user/Thibault Jamet (tjamet)
	pushMerge = group user/Thibault Jamet (tjamet)
[access "refs/tags/*"]
	push = group user/Thibault Jamet (tjamet)
	push = +force group user/Thibault Jamet (tjamet)
